#*.pyc
#.vscode
/output
/build
/arguments
/assets
/gaussian_renderer
/lpipsPyTorch
/scene
/SIBR_viewers
/utils
/viewers
/CDX/build
/CDX/colmap-x64-windows-cuda
/CDX/dist
/CDX/output
/CDX/*.png
/CDX/*.jpg
#diff_rasterization/diff_rast.egg-info
#diff_rasterization/dist
#tensorboard_3d
#screenshots