#*.pyc
#.vscode
/build
/colmap-x64-windows-cuda
/dist
/output
/viewers

/*.png
/*.jpg
/*.spec
/*.ui
/cdx.txt
/cdx_readme.txt
/jpg-txt
/test.py
/test1.py
/test2.py
/test3_.py
/test4_look_line.py
/test4_look_points.py
/test4_look_points_fromTXT.py
/test5_look_deepth_map.py
/test6.py


#diff_rasterization/diff_rast.egg-info
#diff_rasterization/dist
#tensorboard_3d
#screenshots